.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

    .button:hover {
        background-color: #3e8e41
    }

    .button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.mydatagrid {
    width: 80%;
    border: solid 2px black;
    min-width: 80%;
}

.header {
    background-color: #000;
    font-family: Arial;
    color: White;
    height: 25px;
    text-align: center;
    font-size: 16px;
}

.rows {
    background-color: #fff;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    min-height: 25px;
    text-align: left;
}

    .rows:hover {
        background-color: #22c81a;
    }

.mydatagrid a {
    background-color: Transparent;
    padding: 5px 5px 5px 5px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

    .mydatagrid a:hover {
        background-color: #fff;
        color: #000;
    }

.mydatagrid span {
    padding: 5px 5px 5px 5px;
    background-color: #000;
    color: #fff;
}

.pager {
    background-color: #22c81a;
    font-family: Arial;
    color: White;
    height: 30px;
    text-align: left;
}

.mydatagrid td {
    padding: 5px;
}

.mydatagrid th {
    padding: 5px;
}
